<?xml version="1.0"?>
<!--
/**
 * @category    Magento 2
 * @package     Sendinblue_Sendinblue
 * URL:  https:www.sendinblue.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- @TODO on every controller dispatch??? should change event -->
    <event name="controller_action_predispatch">
        <observer name="SibAutomationObserver" instance="Sendinblue\Sendinblue\Observer\SibAutomationObserver"/>
    </event>
</config>




