<?xml version="1.0"?>
<!--
/**
 * @category    Magento 2
 * @package     Sendinblue_Sendinblue
 * URL:  https:www.sendinblue.com
 */
-->
<!-- @TODO migrate all adminhtml/sib.phtml configurations here (removing also sib.js and hix dependeces), remember to update configHelper also with new core_config_data "group" nodes -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="sendinblue" translate="label" sortOrder="10">
            <label>Sendinblue</label>
        </tab>
        <section id="sendinblue" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>SendInBlue</label>
            <tab>sendinblue</tab>
            <resource>Sendinblue_Sendinblue::sendinblue</resource>
            <group id="sendinblue" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="debug_enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Is Debug Log enabled?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
